
:root
 {
  
  --header-font: "Lora", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: flex;
}


nav
{
    padding: 3px;
}
.nav__logo {
  text-align: center;
}
.nav__logo img {
  margin: auto;
  max-width: 90px;
}
.nav__logo h4 {
  font-size: 19px;
  letter-spacing: 2px;
  color:rgb(99, 95, 95);
  font-family: var(--header-font);
}
.nav__logo p {
  font-size: 14px;
  letter-spacing: 2px;
  color:rgb(116, 115, 115);
  font-family: var(--header-font);
}



.header {
  margin-bottom: 50px;
  background-image: url("hall.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__container {
  min-height: 500px;
  position: relative;
}
.header__content {
  position: absolute;
  bottom: -10rem;
  padding: 20px;
  background-color: rgb(236, 230, 230);
  border: 10px solid white
}
.header__content h4 {
  position: relative;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(116, 115, 115);
}
.header__content h1 {
  max-width: 600px;
  font-size: 44px;
  font-weight: 400;
  color:rgb(99, 95, 95);
  font-family: var(--header-font);
}



.about__container {
  padding: 10rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}
.about__content p {
  margin-bottom: 20px;
  color:rgb(99, 95, 95);
  font-family: var(--header-font);
  font-size: larger;
}
.about__content h4 {
  position: relative;
  margin-bottom: 20px;
  padding-left: 60px;
  font-size: 20px;
  font-family: var(--header-font);
  color:rgb(99, 95, 95);
}
.about__content h4::before {
  position: absolute;
  content: "";
  left: 20px;
  height: 100%;
  width: 20px;
  background-color: rgb(182, 178, 178);
}
.about__image img {
  margin: auto;
  max-width: 500px;
  outline: 4px solid rgb(99, 95, 95) ;
}



.display__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .display__row {
    display: flex;
    gap: 20px;
  }

  .display__content {
    padding: 40px;
    flex: 1;
    display: grid;
    place-content: center;
    text-align: center;
    font-family: var(--header-font);
    color: rgb(99, 95, 95);
    background-color: #f5f4f2;
  }

  .display__content h4 {
    font-size: 40px;
    font-weight: 400;
  }

  .display__content p {
    font-style: italic;
  }



.footer {
  margin-top: 20px;
  position: relative;
  background-color: #faf4f0;
}
.footer__container {
  text-align: center;
}
.footer__container h4 {
  margin-bottom: 3rem;
  font-size: 28px;
  font-weight: 400;
  font-family: var(--header-font);
  color: rgb(99, 95, 95);
}

.footer__container p {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 2rem;
  color:  rgb(162, 151, 151);
}
.footer__container button {
  padding:20px;
  border: none;
  font-size: 19px;
  font-weight: 500;
  color:  rgb(99, 95, 95);
  background-color: white;
  cursor: pointer;
}

